apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: appmesh-gateway
  namespace: demo
spec:
  releaseName: appmesh-gateway
  chart:
    git: https://github.com/stefanprodan/appmesh-gateway
    ref: v0.5.0
    path: chart/appmesh-gateway
  values:
    mesh:
      name: "{{ .ClusterName }}"
